page-about {
    ion-searchbar{
        text-align: center;
    }
    .navList{
        padding-left: 0!important;
        margin: 0;
        height: 44px;
        line-height: 44px;
        .first{
            background: #ffdb2c;
            color: black;
        }
        li{
            list-style: none;
            height: 55px;
            text-align: center;
            display: inline-block;
            width: 20%;
            color: #717171;
            line-height: 55px;
            font-weight: bold;
            font-size: 18px;
        }
    }
    p{
        text-align: center;
        line-height: 20px;
        font-size: 18px;
    }
    .goods{
        padding: 0;
        img{
            width: 100%;
        }
        li{
            position: relative;
            width: 45%;
            float: left;
            margin: 5px 0 5px 3%;
            div{
                position: absolute;
                width: 100%;
                bottom:10px;
                margin: 0;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 16px;
                background-color:rgba(0,0,0,0.5);
                color:#c9a72a;
            }
            p{
                position: absolute;
                width: 100%;
                bottom:40px;
                margin: 0;
                font-size: 16px;
                color: #fff;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background-color:rgba(0,0,0,0.5);
            }
        }
    }

    ion-scroll{
        height: 30px;
        margin-bottom: 50px;
        white-space: nowrap;
        span{
            display: inline-block;
            width: 100px;
            text-align: center;
        }
    }
}
