<div class="home">
    <div class="nav">
        <ul>
            <li id="tj"><a [routerLink]="['']">未提交</a></li>
            <li><a [routerLink]="['']">已完成</a></li>
            <li><a [routerLink]="['']">已完结</a></li>
        </ul>
        <span class="search">
            <span class="input"><a><input type="text" placeholder="搜索课程、问答"></a></span>
            <span class="search"><a><img src="assets/image/quicksearchbox.png"></a></span>
        </span>
    </div>
    <hr>
   <div class="task">
       <img src="assets/image/th.png">
       <p>您当前的同步课任务已全部完成~</p>
   </div>
</div>
