.nav{
    height: 50px;
}
.nav ul li{
    float: left;
    margin-top:35px;;
    margin-left: 40px;
} 
#tj a{
    color: #ff6e3f;
}
a{
    font-size: 15px;
    color: black;
}
.search{
    float: right;
    margin-top: 23px;
}
.search img{
    position: relative;
    bottom: 27px;
}
.task img{
    position: relative;
    top: 80px;
    left: 350px;
}
.task p{
    color: gray;
    font-size: 17px;
    position: relative;
    top: 80px;
    left: 280px;
}