<div class="content">
    <ul>
      <li *ngFor='let community of course;'>
        <a [routerLink]="['/community',community.id]">
          <span class="photo"><img src="{{community.photo}}"></span>
          <span>
            <span id="img"><img src="{{community.images}}"></span>
            <span id="note"><img src="{{community.note}}"></span>
                <h4>{{community.name}}</h4>
                <p>{{community.content}}</p>                 
          </span>
          <div class="bottom">
            <span id="person">{{community.person}}</span>
            <span>{{community.time}}</span>
            <span id="read">阅读{{community.read}}</span>|
            <span>评论{{community.pingLun}}</span>
          </div>
          <hr>
        </a>
      </li>
    </ul>
</div>
<span class="ht">
  <h5>热门话题</h5>
  <hr>
  <ul>
    <li><a>#2015级程序设计基础#</a></li><span>6万</span>
    <li><a>#2015级面向对象程序设计基础#</a></li><span>3万</span>
    <li><a>#cms与模板制作#</a></li><span>3万</span>
    <li><a>#数据结构#</a></li><span>3万</span>
    <li><a>#数据库原理#</a></li><span>2万</span>
    <li><a>#2014级PHP程序设计#</a></li><span>2万</span>
    <li><a>#Web开发（二）2016级#</a></li><span>1万</span>
    <li><a>#数据库系统概论#</a></li><span>1万</span>
    <li><a>#Web开发（二）2015级#</a></li><span>1万</span>
    <li><a>#Web开发（一）2015级#</a></li><span>1万</span>
  </ul>
</span>
  