page-change {
    .reg{
        height: 40px;
        border: 2px solid #eeeeee;
        text-align: center;
        line-height: 40px;
    }
    .onload{
        height: 40px;
        border: 2px solid #eeeeee;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
    }
}
