page-add {
    ul{
      text-align: center;
       margin-top: 140px;
    }
    .img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: white;
        text-align: center;
        line-height: 135px;
        margin-left: 10px;
    }
    img{
        height: 40px;
        width: 40px;
        text-align: center;
    }
    #first{
        background: #666666;
    }
    li{
        list-style: none;
        float: left;
        width:120px;
        height: 180px;
        margin: 10px;
    }
    p{
        font-weight: bold;
        font-size: 15px;
    }
    .con{
        font-size: 12px;
    }
}
