<div class="nav">
  <div class="photo">
    <img src="assets/image/photo.png">
  </div>
    <p>7-张成成</p>
    <ul class="num">
      <li>0</li>
      <li>0</li>
      <li>关注</li>
      <li>粉丝</li>
    </ul>
  <ul class="list">
    <li style="color:red;background:#ffece6;"><a [routerLink]="['./task']">任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./tong']">同步课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./class']">课程&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./qieshuo']">且说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
    <li><a [routerLink]="['./tongzhi']">通知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li>
  </ul>
</div>
<router-outlet></router-outlet>

