.nav{
    height: 50px;
}
.nav ul li{
    float: left;
    margin-top:35px;;
    margin-left: 40px;
}
.content li{
    width: 235px;
    height: 260px;
    float: left;
    margin-left: 6px;
    border: 1px solid gainsboro;
    overflow: hidden;
}
#content{
    height: 60px;
    overflow: hidden;
    color: gray;
}
#name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}
span{
    color: gray;
    margin-left: 10px;
}
#person{
    float: right;
}
#tj a{
    color: #ff6e3f;
}
a{
    font-size: 15px;
    color: black;
}