.container{
    height: 1000px;
    width: 1000px;
}
.na{
    height: 100px;
    background-color: #fafbfc;
}
.img{
    margin-top: 20px;
}
h4{
    position: relative;
    bottom: 30px;
    left: 30px;
    
}
.list li{
    float: left;
    margin-left: 60px;
}
a{
    color: black;
    font-size: 15px;
    font-weight: lighter;
}
a:hover{
    text-decoration: none;
}
button{
    height: 40px;
    width: 100px;
    background-color: #ff6e3f;
    margin-top: 20px;
}